<a href="https://colab.research.google.com/github/JosemarBrito/Desafio_de_Projeto/blob/main/Pandas_com_excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importando biblioteca
import pandas as pd

In [ ]:
#Leitura de arquivos
df1 = pd.read_excel('Aracaju.xlsx')
df2 = pd.read_excel('Fortaleza.xlsx')
df3 = pd.read_excel('Natal.xlsx')
df4 = pd.read_excel('Recife.xlsx')
df5 = pd.read_excel('Salvador.xlsx')

In [ ]:
#Consulta idividual
df1.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [ ]:
#Juntando todos os arquivos
df = pd.concat([df1,df2,df3,df4,df5])

In [ ]:
#Exibindo as 5 primeiras linhas
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [ ]:
#Exibindo as 5 ultimas linhas
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [ ]:
#Exibindo linhas aleat√≥rias
df.sample(5)

       Cidade       Data  Vendas  LojaID  Qtde
61     Recife 2019-01-01  127.85     982     7
86     Recife 2019-01-01   17.83     982     8
157  Salvador 2019-01-02  150.17    1036     2
107     Natal 2019-01-02   14.70    1035     1
28     Recife 2019-01-01  123.69     983     3

In [30]:
#Verificando o tipo de dado de cada coluna
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [33]:
#Alterar tipo de dados de cada coluna (opcional)
df['LojaID'] = df['LojaID'].astype('object')

In [34]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

tratando valores faltantes

In [41]:
#Consultando linhas com valores faltantes
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [39]:
#substituir pela media de vendas
df['Vendas'].fillna(df['Vendas'].mean(), inplace=True)

In [40]:
#Substituindo os valores nulos por zero
df['Vendas'].fillna(0, inplace=True)

In [ ]:
#apagando as linhas com valores nulos
df.dropna(inplace=True)

In [ ]:
#Apagando as linhas com valores nulos com base apenas em 1 coluna
df.dropna(subset=['Vendas'], inplace=True)

In [ ]:
#Removendo linhas que estejam com valores faltantes em todas as colunas
df.dropna(how='all', inplace=True)

Criando novas colunas

In [42]:
#Criando a coluna de receita
df['Receita'] = df['Vendas'].mul(df['Qtde'])

In [43]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [44]:
df['Receita/Vendas'] = df['Receita'] / df['Vendas']

In [45]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
0  Aracaju 2018-01-01  142.00   1520     1   142.00             1.0
1  Aracaju 2018-01-01   14.21   1522     6    85.26             6.0
2  Aracaju 2018-01-01   71.55   1520     1    71.55             1.0
3  Aracaju 2018-01-01    3.01   1521     7    21.07             7.0
4  Aracaju 2018-01-01   24.51   1522     8   196.08             8.0

In [46]:
#Retornando a maior receita
df['Receita'].max()

3544.0

In [47]:
#Retornado a menor receita
df['Receita'].min()

3.34

In [54]:
#nlargest
df.nlargest(5, 'Receita')

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0
30  Natal 2018-10-02   856.0    853     4   3424.0             4.0
41  Natal 2018-05-20   835.0    852     4   3340.0             4.0

In [55]:
#nsmallest
df.nsmallest(3, 'Receita')

      Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
118  Aracaju 2018-01-01    3.34   1522     1     3.34             1.0
65    Recife 2019-01-01    4.01    981     1     4.01             1.0
92     Natal 2019-01-02    4.57   1035     1     4.57             1.0

In [56]:
#Agrupamento por cidade
df.groupby('Cidade')['Receita'].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [61]:
#Ordenando conjunto de dados
df.sort_values('Receita', ascending=False).head(10)

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
30  Natal 2018-10-02   856.0    853     4   3424.0             4.0
41  Natal 2018-05-20   835.0    852     4   3340.0             4.0
38  Natal 2018-02-25   828.0    852     4   3312.0             4.0
10  Natal 2018-10-27   828.0    852     4   3312.0             4.0
69  Natal 2019-03-24   817.0    852     4   3268.0             4.0
62  Natal 2018-02-10   793.0    854     4   3172.0             4.0
52  Natal 2018-04-27   778.0    854     4   3112.0             4.0

# **Trabalhando com Datas**

In [64]:
#Tranformando a coluna de data em tipo inteiro
df['Data'] = df['Data'].astype('int64')

In [66]:
#Verificando o tipo de dado de cada coluna
df.dtypes

Cidade             object
Data                int64
Vendas            float64
LojaID             object
Qtde                int64
Receita           float64
Receita/Vendas    float64
dtype: object

In [67]:
#Transformando coluna de data em data
df['Data'] = pd.to_datetime(df['Data'])

In [68]:
df.dtypes

Cidade                    object
Data              datetime64[ns]
Vendas                   float64
LojaID                    object
Qtde                       int64
Receita                  float64
Receita/Vendas           float64
dtype: object

In [70]:
#Agrupamento por ano
df.groupby(df['Data'].dt.year)['Receita'].sum()

Data
2018    118176.53
2019    228246.45
Name: Receita, dtype: float64

In [71]:
#Criando uma nova coluna com ano
df['Ano_Venda'] = df['Data'].dt.year

In [72]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda
114,Recife,2019-03-02,16.82,983,4,67.28,4.0,2019
40,Natal,2018-01-10,885.00,853,3,2655.00,3.0,2018
102,Salvador,2019-01-01,40.84,1034,3,122.52,3.0,2019
122,Natal,2019-01-02,13.27,1037,1,13.27,1.0,2019
47,Recife,2019-01-01,8.60,983,3,25.80,3.0,2019

In [74]:
#Extraindo o mes e o dia
df['mes_venda'], df['dia_venda'] = (df['Data'].dt.month, df['Data'].dt.day)

In [76]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_venda
129,Aracaju,2018-01-01,13.70,1522,6,82.20,6.0,2018,1,1
54,Recife,2019-01-01,23.43,982,7,164.01,7.0,2019,1,1
110,Recife,2019-03-02,51.98,983,6,311.88,6.0,2019,3,2
111,Natal,2019-01-02,147.35,1037,2,294.70,2.0,2019,1,2
36,Recife,2019-01-01,146.62,983,6,879.72,6.0,2019,1,1

In [77]:
#Retornando a data mais antiga
df['Data'].min()

Timestamp('2018-01-01 00:00:00')

In [79]:
#Calculando a diferen√ßa de dias
df['diferenca_dias'] = df['Data'] - df['Data'].min()

In [101]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_venda,diferenca_dias,trimestre_venda
86,Salvador,2019-01-01,156.47,1037,3,469.41,3.0,2019,1,1,365 days,1
23,Salvador,2019-01-01,193.20,1036,3,579.60,3.0,2019,1,1,365 days,1
36,Natal,2019-02-09,328.00,853,2,656.00,2.0,2019,2,9,404 days,1
100,Recife,2019-01-01,35.11,982,4,140.44,4.0,2019,1,1,365 days,1
38,Fortaleza,2019-01-01,35.09,1004,4,140.36,4.0,2019,1,1,365 days,1

In [102]:
#Criando coluna de trimestre
df['trimestre_venda'] = df['Data'].dt.quarter

In [106]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_venda,diferenca_dias,trimestre_venda
206,Natal,2019-01-02,151.45,1036,2,302.90,2.0,2019,1,2,366 days,1
53,Recife,2019-01-01,37.05,983,6,222.30,6.0,2019,1,1,365 days,1
66,Natal,2019-03-24,559.00,853,2,1118.00,2.0,2019,3,24,447 days,1
119,Aracaju,2018-01-01,9.32,1523,6,55.92,6.0,2018,1,1,0 days,1
22,Aracaju,2018-01-01,150.94,1522,1,150.94,1.0,2018,1,1,0 days,1

In [117]:
#Filtrando as vendas de 2019 do mes de mar√ßo
vendas_marco_19 = df.loc[(df['Data'].dt.year == 2019) & (df['Data'].dt.month == 3)]

In [118]:
vendas_marco_19

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_venda,diferenca_dias,trimestre_venda
108,Fortaleza,2019-03-02,152.89,981,4,611.56,4.0,2019,3,2,425 days,1
109,Fortaleza,2019-03-02,18.90,982,6,113.40,6.0,2019,3,2,425 days,1
110,Fortaleza,2019-03-02,51.98,983,6,311.88,6.0,2019,3,2,425 days,1
111,Fortaleza,2019-03-02,8.00,981,3,24.00,3.0,2019,3,2,425 days,1
112,Fortaleza,2019-03-02,133.59,982,1,133.59,1.0,2019,3,2,425 days,1
...,...,...,...,...,...,...,...,...,...,...,...,...
137,Salvador,2019-03-02,51.66,1036,3,154.98,3.0,2019,3,2,425 days,1
138,Salvador,2019-03-02,212.03,1037,3,636.09,3.0,2019,3,2,425 days,1
139,Salvador,2019-03-02,169.01,1036,1,169.01,1.0,2019,3,2,425 days,1
140,Salvador,2019-03-02,20.79,1036,2,41.58,2.0,2019,3,2,425 days,1
141,Salvador,2019-03-02,9.08,1036,1,9.08,1.0,2019,3,2,425 days,1